.main {
    text-align: center;
    padding-top: 200px;
    
   

}

.btn {
    background-color: rgb(28, 228, 28);
    cursor: pointer;
    border: none;
    border-radius: 8px;
    height: 30px;
}
.btn:hover {
    background-color: rgb(76, 218, 29);
}